{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Spam Checker - Spam Guard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static '/img/icon.svg'%}" rel="icon">
  <link href="{%static '/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static '/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static '/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static '/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static '/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static '/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static '/css/style.css'%}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="/"><span>Spam </span>Guard</a></h1>
        {% comment %} <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/"><img src=" {%static "img/not-spam.png"%}" alt="" title="" height=20 width=20 /></a> {% endcomment %}
      </div>

      {% if user.is_authenticated %}
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about-us">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="nav-link scrollto" href="#screenshots">Screenshots</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="active" href="/check">Spam Checker</a></li>
          <li class="dropdown"><a href="#"><span>{{user}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/signout">Logout</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      {%else%}
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about-us">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="nav-link scrollto" href="#screenshots">Screenshots</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a href="/signin">Login</a></li>
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      {%endif%}
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Spam Checker</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Spam Checker</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-4">
      <div class="container">
          {% if user.is_authenticated %}
          <form action="check" method="post">
              {% csrf_token %}
              
          <div class="row justify-content-center">   
            <div class="col-md-5 col-lg-5"> 
              <div class="input-group tm-mb-30">
                  <textarea name="comment" id="comment" placeholder="Please enter a message to check" rows="10" cols='70' name="message" placeholder="Message"></textarea>
                <br><br>
              </div>
            </div>

            <div class="col-md-8 col-lg-5">
              <div class="input-group justify-content-center align-items-center">
                {% if res %}

                <b style="font-size:50px;">{{res}}</b>
                
                {% endif %}
              </div>
            </div>
          </div>

        
          <div class="input-group justify-content-center">
              <input type="submit" class="btn btn-primary tm-btn-pad-2" value="Check">
          </div>
          </form>
          
        {%else%}
          <p>
            You need to login first to access this page.  
          </p>
      

      {%endif%}
    </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">Spam Guard</a>
            <p>Ready to put an end to spam once and for all? Try SpamGuard now and experience the convenience of instant spam detection at your fingertips. Take control of your inbox and enjoy a clutter-free email experience today.</p>

          </div>
        </div>

       

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Spam Guard 2024  </p>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js'%}"></script>


</body>

</html>