{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Spam Guard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static '/img/icon.svg'%}" rel="icon">
  <link href="{%static '/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static '/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static '/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static '/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static '/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static '/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static '/css/style.css'%}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="index.html"><span>Spam </span>Guard</a></h1>
      </div>

      {% if user.is_authenticated %}
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about-us">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>

          <li><a class="nav-link scrollto" href="/blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          
          <li><a href="/check">Spam Checker</a></li>
          <li class="dropdown"><a href="#"><span>{{user}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/signout">Logout</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      {%else%}
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about-us">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>

          <li><a class="nav-link scrollto" href="/blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>

          <li><a href="/signin">Login</a></li>
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      {%endif%}
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h2>Instant Spam Detection at Your Fingertips.</h2>
      <img src="{%static '/img/hero-img.png'%}" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="/check" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Why Choose SpamCheck?</h2>
          <p class="separator">Discover why SpamCheck stands out as the ultimate choice for comprehensive email security, ensuring your inbox remains protected from spam, phishing attempts, and other malicious threats

          </p>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="{%static '/img/icons/effortless.png'%}" alt="img">
              <h4>Effortless</h4>
              <p>Our intuitive form makes it incredibly easy to check for spam with just a few clicks</p>
              <!-- <a href="#">read more</a> -->

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="{%static '/img/icons/user friendly.png'%}" alt="img">
              <h4>User Friendly Interface</h4>
              <p>Easily navigate through our spam detection tool with our user-friendly interface, designed for seamless usability.              </p>
              <!-- <a href="#">read more</a> -->

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">


              <img src="{%static '/img/icons/robust algo.png'%}" alt="img">
              <h4>Robust Algorithm</h4>
              <p>Our spam detection system utilizes a robust algorithm to accurately identify and filter out unwanted spam messages.</p>
              <!-- <a href="#">read more</a> -->


            </div>
          </div>

        </div>
      </div>

    </section><!-- End Get Started Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-3">
            <img src="{%static '/img/icons/abot-us.png'%}" alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-7 col-lg-5">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <h2><span>About Us</span> </h2>
              <p>Welcome to Spam Checker! We're here to tackle spam and fraud head-on with our advanced KNN classification algorithm. Our user-friendly web app aims to raise awareness about spam dangers and prevent fraud, providing a seamless experience for all users. With Spam Checker, take control of your inbox, stay safe from phishing, scams, and malware, and enjoy a spam-free online experience. Trust us to keep your emails secure and your peace of mind intact. Choose Spam Checker today for a safer digital world!
              </p>

            </div>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Why Use Spam Detection ?</h2>
          <p class="separator">Its Simple !</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{%static '/img/icons/protecting users.png'%}" alt="img">
              <h4>Protecting Users</h4>
              <p>Spam detection helps protect users from unwanted, unsolicited, and potentially harmful emails. These emails often contain phishing attempts, malware, scams, or fraudulent content that can compromise personal and sensitive information.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{%static '/img/icons/prevention.png'%}" alt="img">
              <h4>Preventing Security Risks</h4>
              <p>Spam emails can be a vector for cyber threats such as phishing attacks, malware distribution, and ransomware. Effective spam detection reduces the risk of users inadvertently clicking on malicious links or downloading harmful attachments.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{%static '/img/icons/productivity.png'%}" alt="img">
              <h4>Enhancing Productivity</h4>
              <p> By filtering out spam messages, users can focus their time and attention on legitimate emails and important tasks, improving overall productivity and efficiency in managing email communications.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{%static '/img/icons/preserving resources.png'%}" alt="img">
              <h4>Preserving Resources</h4>
              <p> Spam emails consume server resources, network bandwidth, and storage space. Spam detection helps reduce the burden on email servers and infrastructure by preventing unnecessary processing and storage of spam messages.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{%static '/img/icons/improved ux.png'%}" alt="img">
              <h4>Improved User Expreience</h4>
              <p>Spam detection contributes to a better user experience by reducing clutter in inboxes, minimizing the risk of falling victim to scams or fraud, and fostering trust in email communications.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{%static '/img/icons/reputation.png'%}" alt="img">
              <h4>Maintaining Reputation</h4>
              <p> For businesses and organizations, effective spam detection is essential for maintaining a positive email reputation. Avoiding sending spam emails ensures that legitimate communications are delivered reliably and that the organization's email domain remains trustworthy.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{%static '/img/icons/phishing.png'%}" alt="img">
              <h4>Mitigating Phishing Attacks</h4>
              <p>Spam detection helps in identifying and blocking phishing emails that attempt to trick users into providing sensitive information such as login credentials, financial details, or personal data. By preventing phishing attacks, spam detection safeguards users from identity theft and financial fraud.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{%static '/img/icons/evolving threat.png'%}" alt="img">
              <h4>Adapting to Evolving Threats</h4>
              <p>Spam detection technologies continually evolve to keep pace with new and evolving spamming techniques. Machine learning algorithms, behavioral analysis, and threat intelligence integration enable spam detection systems to adapt and respond effectively to emerging spam threats, ensuring robust protection over time.</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Screenshots Section ======= -->

    <section id="blog" class="padd-section text-center">


      <!-- <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>App Gallery</h2>
          <p class="separator">Integer cursus bibendum augue ac cursus .</p>
        </div>

        <div class="screens-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{%static '/img/screen/1.jpg'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%static '/img/screen/2.jpg'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%static '/img/screen/3.jpg'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%static '/img/screen/4.jpg'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%static '/img/screen/5.jpg'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%static '/img/screen/6.jpg'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%static '/img/screen/7.jpg'%}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{%static '/img/screen/8.jpg'%}" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div> -->

    <!-- </section>End Screenshots Section -->
    
    <!-- ======= Video Section ======= -->
    <section id="video" class="text-center">
      <div class="overlay">
        <div class="container-fluid container-full" data-aos="zoom-in">

          <div class="row">
            <a href="https://www.youtube.com/watch?v=bfklwaX7FNA&ab_channel=MuabiTech" class="glightbox play-btn"></a>
          </div>

        </div>
      </div>
     </section><!--End Video Section -->

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="padd-section text-center">
      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Team Member</h2>
          <p class="separator">Meet Our Team </p>
        </div>

        <div class="row">

          

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="team-block bottom">
              <img src="{%static '/img/team/Sudesh.jpg'%}" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/sudesh.acharya.7"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
                <span>Algorithms</span>
                <h4>Sudesh Acharya</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-block bottom">
              <img src="{%static '/img/team/Kushal.jpg'%}" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/kushalblancos/"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
                <span>User Interface</span>
                <h4>Kushal Ghimire</h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="team-block bottom">
              <img src="{%static '/img/team/3.jpg'%}" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/media/set/?set=a.1386380971638384&type=3"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
                <span>Documentation</span>
                <h4>Avinash Parajuli</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </section>End Team Section -->

    <!-- ======= Testimonials Section ======= -->
    <!--  -->
    <!-- End Testimonials Section -->


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="padd-sectio">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Latest posts</h2>Learn More About Spam messages </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="{%static '/img/icons/spam-blog-1.avif'%}" alt="img"></a>
              <div class="content-blog">
                <h4><a href="#">whats is the difference between good and bat typography</a></h4>
                <span>03, March 2024</span>
                <a class="float-end readmore" href="#">read more</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="{%static '/img/icons/spam-blog-2.avif'%}" class="img-responsive" alt="img"></a>
              <div class="content-blog">
                <h4><a href="#">whats is the difference between good and bat typography</a></h4>
                <span>26,March 2024</span>
                <a class="float-end readmore" href="#">read more</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="{%static '/img/icons/spam-blog-3.avif'%}" class="img-responsive" alt="img"></a>
              <div class="content-blog">
                <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                <span>01,April,2024</span>
                <a class="float-end readmore" href="#">read more</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Blog Section -->

    <!-- ======= Newsletter Section ======= -->
    <!-- <section id="newsletter" class="newsletter text-center">
      <div class="overlay padd-section">
        <div class="container" data-aos="zoom-in">

          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
              <form class="d-flex" method="POST" action="#">
                <input type="email" class="form-control " placeholder="Email Adress" name="email">
                <button type="submit" class="btn btn-default"><i class="bi bi-location-arrow"></i>Subscribe</button>
              </form>
            </div>
          </div>

          <ul class="list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
          </ul>

        </div>
      </div>
    </section>End Newsletter Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">Spam Check</a>
            <p>Ready to put an end to spam once and for all? Try SpamGuard now and experience the convenience of instant spam detection at your fingertips. Take control of your inbox and enjoy a clutter-free email experience today.</p>

          </div>
        </div>

       

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#about-us">About us</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Spam Check 2024  </p>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static '/vendor/aos/aos.js'%}"></script>
  <script src="{%static '/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static '/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static '/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{%static '/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static '/js/main.js'%}"></script>

</body>

</html>